<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gronthomongol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasheachi_log_removebg"
        android:label="Grontho Mongol"
        android:roundIcon="@drawable/pasheachi_log_removebg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <activity android:name=".addBook"></activity>
        <activity android:name=".viewOrders_admin" />
        <activity android:name=".requestList" />
        <activity android:name=".booklist_admin"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".bookDetails" />
        <activity android:name=".forgotPassword" />
        <activity android:name=".viewOrders" />
        <activity android:name=".orderDetails" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".placeOrder" />
        <activity android:name=".postRequest" />
        <activity android:name=".booklist"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.backendless.push.BackendlessFCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>