<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gronthomongol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasheachi_logo"
        android:label="Grontho Mongol"
        android:roundIcon="@drawable/pasheachi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewOrders"></activity>
        <activity android:name=".orderDetails" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".placeOrder" />
        <activity android:name=".postRequest" />
        <activity android:name=".booklist" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>