<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gronthomongol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasheachi_logo_modified"
        android:label="গ্রন্থমঙ্গল"
        android:roundIcon="@drawable/pasheachi_logo_modified"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.admin.AdminAboutUsActivity"></activity>
        <activity android:name=".ui.main.admin.AdminFeedbackActivity" />
        <activity android:name=".ui.main.admin.DonateActivity" />
        <activity android:name=".ui.main.user.UserAboutUsActivity" />
        <activity android:name=".ui.main.user.UserFeedbackActivity" />
        <activity android:name=".ui.main.admin.AdminMainActivity" />
        <activity android:name=".ui.main.user.UserMainActivity" />
        <activity android:name=".ui.auth.AuthActivity" />
        <activity android:name=".ui.main.admin.AdminOrderDetailsActivity" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".ui.main.admin.archive.AddBookActivity" />
        <activity android:name=".ui.main.admin.archive.RequestListActivity" />
        <activity
            android:name=".ui.main.admin.archive.BooklistAdminActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.main.admin.BookDetailsActivity" />
        <activity android:name=".ui.auth.archive.ForgotPasswordActivity" />
        <activity android:name=".ui.main.user.archive.ViewOrdersActivity" />
        <activity android:name=".ui.main.user.UserOrderDetailsActivity" />
        <activity android:name=".ui.main.user.PlaceOrderActivity" />
        <activity android:name=".ui.main.user.archive.RequestBookActivity" />
        <activity
            android:name=".ui.main.user.archive.BooklistActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.auth.archive.SignUpActivity" />
        <activity android:name=".ui.auth.archive.SignInActivity" />
        <activity android:name=".ui.welcome.WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.backendless.push.BackendlessFCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>